.coaches {
  padding-top: 60px;
  padding-bottom: 110px;

  @media (max-width: $tablet-size-max) {
    padding-top: 38px;
  }
}

.coaches h2 {
  margin-top: 0;
  margin-bottom: 52px;

  font-size: 49px;
  line-height: 100%;
  font-family: $ff-bebas-neue;
  color: $sapphire;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 41px;

    font-size: 42px;
    text-align: center;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 22px;

    font-size: 32px;
  }
}

.coaches__item {
  position: relative;

  max-width: 100%;
  height: auto;

  // grid-template-columns: 1fr;

  @media (max-width: $tablet-size-max) {
    width: 268px;

    justify-self: center;
  }

  @media (max-width: $mobile-size-max) {
    width: 226px;
  }
}

.coaches__item-name {
  position: absolute;
  bottom: 23px;
  left: 78px;
  z-index: 2;

  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

  @media (max-width: $tablet-size-max) {
    right: 35px;
    bottom: 27px;
    left: 35px;
  }

  @media (max-width: $mobile-size-max) {
    right: 25px;
    bottom: 17px;
    left: 25px;
  }
}

.coaches__photo {
  z-index: 2;

  max-width: 100%;
  height: auto;

  // grid-column: 1/-1;
  // grid-row: 1/2;
}

.coaches__photo img {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;

  @media (max-width: $tablet-size-max) {
    width: 268px;
    height: 294px;
  }

  @media (max-width: $mobile-size-max) {
    width: 226px;
    max-width: 100%;
  }
}

.coaches__info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  padding: 28px 21px 35px;
  overflow: auto;

  color: $color-default-white;

  background-color: $sapphire;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  // grid-column: 1/-1;
  // grid-row: 1/2;

  scrollbar-color: #ffffff #808080;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #808080;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: 2px solid #808080;
    border-radius: 20px;
  }

  @media (max-width: $tablet-size-max) {
    max-width: 268px;
    padding: 30px 30px 34px 35px;
  }

  @media (max-width: $mobile-size-max) {
    max-width: 226px;
    padding: 30px 25px 34px 25px;
  }
}

.coaches__info h3 {
  position: static;
  z-index: 0;

  margin-top: 23px;
  margin-bottom: -4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: $color-default-white;
}

.coaches__info-list {
  margin-top: 13px;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 21px;
}

.coaches__info-item {
  position: relative;

  margin-bottom: 13px;
  margin-left: 51px;

  font-weight: 400;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -17px;

    width: 6px;
    height: 6px;

    background-color: $color-default-white;
    border-radius: 50%;
  }
}

.coaches__info p {
  margin: 0 0 33px;

  font-size: 16px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: $spindle;
}

.coaches__item:hover .coaches__photo,
.coaches__item:focus-within .coaches__photo {
  z-index: -1;

  opacity: 0.89;
}

.coaches__item:hover .coaches__info,
.coaches__item:focus-within .coaches__info {
  z-index: 1;

  opacity: 0.89;
}

.coaches__item:hover .coaches__item-name,
.coaches__item:focus-within .coaches__item-name {
  display: none;
}

.coaches__slider-buttons {
  position: relative;
}

.coaches__button-prev {
  position: relative;
}

// .coaches__button-next {
//   position: relative;
// }

// .coaches__button-prev::after,
// .coaches__button-next::after {
//   content: "";
//   position: absolute;

//   width: 16px;
//   height: 32px;

//   background-image: url("../img/svg/slider-arrow.svg");
//   background-repeat: no-repeat;
// }

// .coaches__button-prev::after {
//   right: -38px;
//   bottom: 141px;

//   -webkit-transform: rotate(180deg);
//      -moz-transform: rotate(180deg);
//       -ms-transform: rotate(180deg);
//        -o-transform: rotate(180deg);
//           transform: rotate(180deg);
// }

// .coaches__button-next::after {
//   bottom: 153px;
//   // background-image: url("../img/svg/slider-arrow.svg");
//   // background-repeat: no-repeat;
//   left: 1313px;
// }
