.contact-us {
  display: grid;
  padding-top: 21px;

  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-size-max) {
    display: block;
    padding-top: 50px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 21px;
  }
}

.contact-us h2 {
  margin-top: 0;
  margin-bottom: 41px;

  font-weight: 700;
  font-size: 49px;
  line-height: 100%;
  font-family: $ff-bebas-neue;
  color: $sapphire;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 33px;
    margin-left: 71px;

    font-size: 42px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 38px;
    margin-left: 0;

    font-size: 32px;
  }
}

.contact-us__form {
  padding: 61px 50px 62px;

  background-color: $sapphire;
  border-top: 1px solid $sapphire;

  @media (max-width: $tablet-size-max) {
    padding-top: 63px;
    padding-bottom: 68px;
  }

  @media (max-width: $mobile-size-max) {
    padding-right: 15px;
    padding-bottom: 68px;
    padding-left: 15px;
  }
}

.contact-us__form h2 {
  margin-top: 0;
  margin-right: 109px;
  margin-bottom: 29px;

  font-weight: 700;
  font-size: 49px;
  line-height: 130%;
  font-family: $ff-bebas-neue;
  text-align: center;
  color: $color-default-white;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-size-max) {
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 83px;

    font-size: 42px;
    text-align: start;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 34px;
    margin-left: 0;

    font-size: 32px;
  }
}
