.contact-us {
  // display: grid;
  padding-top: 21px;

  background: linear-gradient(
    to right,
    $sapphire 50%,
    $color-default-white 50%
  );
  border-top: 1px solid $sapphire;

  // grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-size-max) {
    display: block;
    padding-top: 63px;
    padding-bottom: 63px;
    // background: linear-gradient(
    //   to bottom,
    //   $sapphire 50%,
    //   $color-default-white 50%
    // );

    background: linear-gradient(
      to top,
      $color-default-white 52%,
      $sapphire 48%
    );
    border-top: none;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 64px;
    padding-bottom: 65px;

    background: linear-gradient(
      to top,
      $color-default-white 57%,
      $sapphire 43%
    );
  }
}

.contact-us__wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-size-max) {
    // grid-template-columns: none;
    // grid-template-rows: 1fr 1fr;
    display: block;
  }
}

.contact-us h2 {
  margin-top: 0;
  margin-bottom: 41px;

  font-weight: 700;
  font-size: 49px;
  line-height: 100%;
  font-family: $ff-bebas-neue;
  color: $sapphire;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 33px;
    margin-left: 88px;

    font-size: 42px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 38px;
    margin-left: 0;

    font-size: 32px;
  }
}

.contact-us__form {
  padding: 39px 50px 62px 0;

  // background-color: $sapphire;

  // border-top: 1px solid $sapphire;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 138px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 137px;
    padding: 0;
  }
}

.contact-us__form h2 {
  margin-top: 0;
  // margin-right: 109px;
  margin-bottom: 29px;

  font-weight: 700;
  font-size: 49px;
  line-height: 130%;
  font-family: $ff-bebas-neue;
  // text-align: center;
  color: $color-default-white;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-size-max) {
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 88px;

    font-size: 42px;
    text-align: start;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 34px;
    margin-left: 0;

    font-size: 32px;
  }
}
