.footer {
  padding-top: 41px;
  padding-bottom: 43px;

  font-family: $ff-roboto-condensed;

  background-color: #030a1a;

  @media (max-width: $tablet-size-max) {
    padding-top: 44px;
    padding-bottom: 46px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 45px;
    padding-bottom: 52px;
  }
}

.footer__container {
  display: grid;
  align-items: start;

  gap: 100px;
  grid-template-columns: auto 1fr auto;

  @media (max-width: $tablet-size-max) {
    padding: 0 40px;

    gap: 25px;
  }

  @media (max-width: $mobile-size-max) {
    display: block;

    column-count: 2;
    column-gap: 30px;
  }
}

.footer__logo {
  margin-top: 3px;

  @media (max-width: $tablet-size-max) {
    margin-left: 5px;
  }

  @media (max-width: $mobile-size-max) {
    margin-top: 3px;
    margin-bottom: 14px;
    margin-left: 0;
  }
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 6px;

  @media (max-width: $tablet-size-max) {
    padding-left: 10px;
  }

  @media (max-width: $mobile-size-max) {
    justify-content: start;
    padding-left: 0;
  }
}

.footer__menu-item {
  margin: 0 20px;

  @media (max-width: $tablet-size-max) {
    margin: 0 15px;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
    margin: 8px 0;
  }
}

.footer__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  @media (max-width: $mobile-size-max) {
    font-size: 16px;
    line-height: 19px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;

    outline: 0;
  }

  &:active {
    opacity: 0.3;
  }
}
