.form {
  display: grid;

  text-align: center;

  grid-template-rows: min-content min-content;
  row-gap: 17px;

  @media (max-width: $mobile-size-max) {
    width: 100%;
    min-width: 100%;

    grid-template-rows: 1fr min-content;
  }
}

.form__inputs {
  display: grid;
  width: 77%;

  column-gap: 31px;

  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-size-max) {
    width: 75%;
    margin-left: 88px;

    column-gap: 61px;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
    margin-bottom: 11px;
    margin-left: 0;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 25px;
  }
}

.form input {
  align-self: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-left: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

  background-color: $color-transparent;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $light-slate-grey;
  border-left: none;

  &:hover,
  &:focus {
    border-color: $java;
  }

  &:active {
    opacity: 0.5;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  @media (max-width: $mobile-size-max) {
    padding-bottom: 6px;
  }
}

.form__button {
  display: block;
  width: 78%;
  margin-bottom: 10px;
  padding: 19px 18px 19px 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $color-transparent;
  border: 3px solid $color-default-white;
  cursor: pointer;

  grid-column: 1/-1;
  grid-row: 2/-1;

  &:hover,
  &:active {
    color: $java;

    border-color: $java;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-size-max) {
    width: 76%;
    margin-left: 86px;
    padding-bottom: 18px;
  }

  @media (max-width: $mobile-size-max) {
    align-self: start;
    width: 100%;
    margin-left: 0;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
