.gym {
  position: relative;

  padding-top: 120px;
  padding-bottom: 235px;

  background-color: $color-default-white;
}

.gym .container {
  @media (max-width: $mobile-size-max) {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.gym__wrapper {
  display: grid;
  padding: 0 0 0 60px;

  column-gap: 88px;

  grid-template-columns: auto auto;

  @media (max-width: $tablet-size-max) {
    display: block;
    padding-left: 0;

    grid-template-columns: none;
  }
}

.gym__text {
  margin-top: 50px;

  @media (max-width: $tablet-size-max) {
    margin-top: 0;
    margin-bottom: 50px;

    text-align: center;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 40px;

    text-align: start;
  }
}

.gym h2 {
  margin-top: 0;
  margin-bottom: 5px;

  font-size: 49px;
  line-height: 49px;
  font-family: $ff-bebas-neue;
  color: $sapphire;
  letter-spacing: 0.03em;
}

.gym h3 {
  margin-top: 0;
  margin-bottom: 39px;

  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  // display: flex;
  // align-items: center;
  color: $sapphire;
}

.gym p {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  // display: flex;
  // align-items: center;
  color: $sapphire;
}

.gym__big-text {
  @media (max-width: $tablet-size-max) {
    display: none;
  }
}

.gym__image {
  width: 660px;
  height: 401px;

  @media (max-width: $tablet-size-max) {
    width: 678px;
    height: 345px;
    margin: auto;
  }

  @media (max-width: $mobile-size-max) {
    width: 320px;
    height: 313px;
    margin: 0;
  }
}

.super-games__image img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}
