.gym {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: $color-default-white;

  @media (max-width: $tablet-size-max) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 68px;
    padding-bottom: 71px;
  }
}

.gym .container {
  @media (max-width: $mobile-size-max) {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.gym__wrapper {
  display: grid;

  gap: 22px;
  grid-template-columns: auto 1fr;

  @media (max-width: $tablet-size-max) {
    display: block;
    padding-left: 0;

    grid-template-columns: none;
  }
}

.gym__text {
  max-width: 415px;
  padding: 51px 0 50px 60px;

  @media (max-width: $tablet-size-max) {
    max-width: 570px;
    margin: 0 auto;
    margin-top: 0;
    padding: 0;

    text-align: center;
  }

  @media (max-width: $mobile-size-max) {
    padding: 0 15px;

    text-align: start;
  }
}

.gym h2 {
  margin-top: 0;
  margin-bottom: 5px;

  font-size: 49px;
  line-height: 100%;
  font-family: $ff-bebas-neue;
  color: $sapphire;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 8px;

    font-size: 42px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 7px;

    font-size: 32px;
  }
}

.gym h3 {
  margin-top: 0;
  margin-bottom: 39px;

  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $sapphire;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 34px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 23px;
  }
}

.gym p {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $sapphire;

  @media (max-width: $mobile-size-max) {
    padding-right: 33px;
    padding-left: 0;
  }
}

.gym__big-text {
  @media (max-width: $tablet-size-max) {
    display: none;
  }
}

.gym__image-container {
  position: relative;

  padding-bottom: 115px;
  padding-left: 63px;

  @media (max-width: $tablet-size-max) {
    padding: 35px 0 83px;
  }

  @media (max-width: $mobile-size-max) {
    padding: 25px 0 0;
  }
}

.gym__image {
  @media (max-width: 768px) {
    height: 345px;
  }

  @media (max-width: $mobile-size-max) {
    height: auto;
    margin-bottom: 40px;
  }

  @media (max-width: 320px) {
    height: 313px;
  }
}

.gym__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.gym__video {
  position: absolute;
  top: 288px;
  left: 0;
  z-index: 1;

  display: grid;
  width: 364px;
  height: 228px;

  @media (max-width: $tablet-size-max) {
    top: auto;
    bottom: 0;
    left: 50%;

    width: 266px;
    height: 167px;

    transform: translateX(-50%);
  }

  @media (max-width: $mobile-size-max) {
    position: relative;
    left: auto;

    width: 100%;
    height: auto;
    margin: 0 auto;

    transform: none;
  }

  @media (max-width: 320px) {
    height: 167px;
  }
}

.gym__video-player {
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: #102654;

  grid-column: 1/-1;
  grid-row: 1/-1;
}

.gym__video-img {
  position: relative;
  z-index: 1;

  grid-column: 1/-1;
  grid-row: 1/-1;

  @media (max-width: 320px) {
    height: 167px;
  }
}

.gym__video-img img {
  width: 100%;

  @media (max-width: $tablet-size-max) {
    height: 100%;
  }
}

.gym__video.is-show .gym__video-img {
  z-index: -1;
}

.gym__video.is-show .gym__video-player {
  z-index: 1;
}

.gym__video-button {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 100px;
  height: 100px;

  background-image: url("../img/svg/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);

  @media (max-width: $tablet-size-max) {
    width: 73px;
    height: 73px;
  }

  &:hover,
  &:focus {
    background-size: 80%;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
