.header {
  padding-top: 28px;
  padding-bottom: 50px;

  background: conic-gradient(
    from 130.31deg at 16.03% 39.06%,
    $venetian-red -46.69deg,
    $dark-cerulean 32.24deg,
    $venetian-red 313.31deg,
    $dark-cerulean 392.24deg
  );

  @media (max-width: $tablet-size-max) {
    padding-top: 38px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 20px;
  }
}

.header__wrapper {
  display: grid;
  justify-content: space-between;
  align-items: start;

  grid-template-columns: auto auto;
}

.header__phone {
  font-size: 26px;
  line-height: 26px;
  font-family: $ff-bebas-neue;
  color: $color-default-white;
  letter-spacing: 0.04em;

  @media (max-width: $tablet-size-max) {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  &:hover,
  &:focus {
    color: $java;

    border-color: $java;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__fitness {
  display: grid;

  grid-template-columns: repeat(2, 1fr) 17%;
  // grid-template-rows: 1fr auto;
}

.header__fitness-info {
  // display: grid;
  // grid-template-rows: 1fr min-content auto;
  display: flex;
  flex-direction: column;
}

.header__title {
  margin-top: 107px;
  padding-left: 50px;

  text-align: right;
}

.header h1 {
  margin-top: 7px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 109px;
  line-height: 109px;
  font-family: $ff-bebas-neue;
  // text-align: right;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-shadow: 0 1px 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255),
    1px 0 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255),
    0 2px 0 rgb(255, 255, 255), 0 -2px 0 rgb(255, 255, 255),
    2px 0 0 rgb(255, 255, 255), -2px 0 0 rgb(255, 255, 255),
    2px 2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255),
    -2px 2px 0 rgb(255, 255, 255), -2px -2px 0 rgb(255, 255, 255);

  // border: 2px solid #ffffff;

  @media (max-width: $tablet-size-max) {
    font-size: 86px;
    line-height: 86px;
  }
}

.header span {
  font-weight: 400;
  font-size: 49px;
  line-height: 59px;
  font-family: $ff-bebas-neue;
  color: $color-default-white;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-size-max) {
    font-size: 34px;
    line-height: 41px;
  }
}

.header__fitness-list {
  margin-top: -92px;
  margin-right: 264px;
  margin-bottom: 83px;

  text-align: right;
}

.header__fitness-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  // display: flex;
  // align-items: center;
  // text-align: right;
  color: $color-default-white;
}

.header__image {
  width: 500px;
  height: 556px;
  margin-top: -5px;
  margin-left: 67px;

  grid-column: 2/3;

  @media (max-width: $tablet-size-max) {
    width: 324px;
    height: 390px;
    margin-top: 0;
    margin-left: 30px;
  }

  @media (max-width: $mobile-size-max) {
    display: none;
  }
}

.header img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.header__button {
  display: inline-block;
  align-self: flex-end;
  width: 230px;
  padding: 23px 33px 18px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 4px solid $color-default-white;

  justify-self: end;

  @media (max-width: $tablet-size-max) {
    width: 185px;
  }

  @media (max-width: $mobile-size-max) {
    width: auto;
  }

  &:hover,
  &:focus {
    color: $java;

    border-color: $java;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__social-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: end;
  margin: 0 0 40px auto;

  gap: 9px;
  grid-column: 3/-1;

  @media (max-width: $tablet-size-max) {
    display: none;
  }
}

.header__social-item {
  text-align: right;
}

.header__social-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto-condensed;
  text-align: right;
  color: $color-default-white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $java;

    border-color: $java;
  }

  &:active {
    opacity: 0.5;
  }
}
