.header {
  padding-top: 28px;
  padding-bottom: 50px;

  background: conic-gradient(
    from 130.31deg at 16.03% 39.06%,
    $venetian-red -46.69deg,
    $dark-cerulean 32.24deg,
    $venetian-red 313.31deg,
    $dark-cerulean 392.24deg
  );

  @media (max-width: $tablet-size-max) {
    padding-top: 38px;
    padding-bottom: 82px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 18px;
    padding-bottom: 68px;
  }
}

.header__wrapper {
  display: grid;
  justify-content: space-between;
  align-items: start;

  grid-template-columns: auto auto;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 17px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 72px;
  }
}

.header__phone {
  font-size: 26px;
  line-height: 100%;
  font-family: $ff-bebas-neue;
  color: $color-default-white;
  letter-spacing: 0.04em;

  @media (max-width: $tablet-size-max) {
    font-size: 24px;
    letter-spacing: 0.03em;
  }

  @media (max-width: $mobile-size-max) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    color: $java;

    border-color: $java;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__fitness {
  display: grid;

  grid-template-columns: repeat(2, 1fr) 17%;

  @media (max-width: $mobile-size-max) {
    display: block;
  }
}

.header__fitness-info {
  display: flex;
  flex-direction: column;
}

.header__title {
  margin-top: 107px;
  padding-left: 50px;

  text-align: right;

  @media (max-width: $tablet-size-max) {
    margin-top: 51px;
    padding-left: 89px;
  }

  @media (max-width: $mobile-size-max) {
    margin-top: 0;
    padding-left: 0;
  }
}

.header h1 {
  margin-top: 7px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 109px;
  line-height: 100%;
  font-family: $ff-bebas-neue;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-shadow: $header-shadow-h2;

  @media (max-width: $tablet-size-max) {
    margin-top: 2px;

    font-size: 86px;
  }

  @media (max-width: $mobile-size-max) {
    margin-top: 8px;

    font-size: 78px;
  }
}

.header span {
  font-weight: 400;
  font-size: 49px;
  line-height: 59px;
  font-family: $ff-bebas-neue;
  color: $color-default-white;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-size-max) {
    font-size: 34px;
    line-height: 41px;
  }

  @media (max-width: $mobile-size-max) {
    font-size: 28px;
    line-height: 34px;
  }
}

.header__fitness-list {
  margin-top: -92px;
  margin-right: 264px;
  margin-bottom: 83px;

  text-align: right;

  @media (max-width: $tablet-size-max) {
    margin-top: -79px;
    margin-right: 211px;
  }

  @media (max-width: $mobile-size-max) {
    margin-top: -75px;
    margin-right: 177px;
    margin-bottom: 83px;
  }
}

.header__fitness-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
}

.header__image {
  width: 500px;
  height: 556px;
  margin-top: -5px;
  margin-left: 67px;

  grid-column: 2/3;

  @media (max-width: $tablet-size-max) {
    width: 324px;
    height: 390px;
    margin-top: 0;
    margin-left: 30px;
  }

  @media (max-width: $mobile-size-max) {
    display: none;
  }
}

.header img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.header__button {
  display: block;
  align-self: flex-end;
  width: 230px;
  margin-bottom: 10px;
  padding: 23px 33px 18px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 4px solid $color-default-white;

  justify-self: end;

  @media (max-width: $tablet-size-max) {
    width: 185px;
    margin-top: -26px;
    padding: 20px 15px 18px;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
  }

  &:hover,
  &:focus {
    color: $java;

    border-color: $java;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__social-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: end;
  margin: 0 0 40px auto;

  gap: 9px;
  grid-column: 3/-1;

  @media (max-width: $tablet-size-max) {
    display: none;
  }
}

.header__social-item {
  text-align: right;
}

.header__social-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto-condensed;
  text-align: right;
  color: $color-default-white;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $java;

    border-color: $java;
  }

  &:active {
    opacity: 0.5;
  }
}
