.logo {
  display: block;
  width: 89px;
  height: 20px;

  color: #ffffff;

  @media (max-width: $tablet-size-max) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $mobile-size-max) {
    width: 65px;
    height: 15px;
    margin-top: -2px;
  }
}

.logo svg {
  width: 100%;

  fill: currentColor;
}
