.social {
  display: grid;

  gap: 11px;
  grid-template-columns: repeat(3, auto);

  @media (max-width: $mobile-size-max) {
    justify-content: start;
    margin-top: 19px;

    column-span: all;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;

  color: #030a1a;

  background-color: #ffffff;
  border-radius: 50%;

  &:hover,
  &:focus {
    outline: 0;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link svg {
  fill: currentColor;
}
