.super-games {
  padding-top: 120px;
  padding-bottom: 60px;

  background-color: $color-default-white;

  @media (max-width: $tablet-size-max) {
    padding-top: 101px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 69px;
  }
}

.super-games__wrapper {
  display: grid;

  grid-template-columns: min-content auto;

  @media (max-width: $mobile-size-max) {
    display: block;

    grid-template-columns: none;
  }
}

.super-games__text {
  padding: 79px 76px 83px 77px;

  background-color: $torch-red;

  @media (max-width: $tablet-size-max) {
    padding: 45px 45px 49px;
  }
}

.super-games__grid {
  display: grid;

  column-gap: 52px;
  // grid-template-columns: 1fr min-content;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @media (max-width: $tablet-size-max) {
    column-gap: 30px;
  }
}

.super-games h2 {
  margin-top: 3px;
  margin-bottom: 8px;

  font-size: 90px;
  line-height: 100%;
  font-family: $ff-bebas-neue;
  color: $color-default-white;
  letter-spacing: 0.03em;

  grid-row: 1/-1;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 0;

    font-size: 52px;
  }
}

.super-games p {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 43px;

  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 30px;

    font-size: 12px;
  }
}

.super-games dt {
  padding-bottom: 5px;
  // margin-bottom: 5px;
  // display: flex;
  // align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;

  border-bottom: 1px solid $color-default-white;

  @media (max-width: $tablet-size-max) {
    padding-bottom: 2px;

    font-size: 12px;
  }
}

.super-games__date-word {
  margin-right: 32px;

  @media (max-width: $tablet-size-max) {
    margin-right: 16px;
  }
}

.super-games__time-word {
  margin-right: 7px;

  @media (max-width: $tablet-size-max) {
    margin-right: 2px;
    // padding-bottom: 2px;
  }
}

.super-games dd {
  display: flex;
  align-items: center;
  margin-top: -7px;
  margin-left: 0;

  font-size: 14px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $color-default-white;
  // border-top: 1px solid $color-default-white;
  // border-top: 1px solid $color-default-white;

  gap: 6px;

  @media (max-width: $tablet-size-max) {
    margin-top: -4px;

    font-size: 10px;
    line-height: 11px;

    gap: 4px;
  }
}

.super-games span {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  // display: flex;
  // align-items: center;
  color: $color-default-white;

  @media (max-width: $tablet-size-max) {
    font-size: 24px;
  }
}

.super-games__button {
  display: block;
  max-width: 100%;
  padding: 26px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 4px solid #ffffff;

  &:hover,
  &:focus {
    color: $midnight-express;

    border-color: $midnight-express;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-size-max) {
    padding: 12px;

    font-size: 10px;

    border-width: 2px;
  }
}

.super-games__image {
  position: relative;

  @media (max-width: $mobile-size-max) {
    // max-width: 290px;
    height: 292px;
    // margin: auto;
  }
}

.super-games__image img {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}
