.tabs-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 0 auto 39px;

  text-align: center;

  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (max-width: $tablet-size-max) {
    width: 50%;
    margin-bottom: 44px;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
    margin-bottom: 35px;
  }
}

.tabs-nav__item {
  margin-right: 5px;
  margin-left: 5px;
}

.tabs-nav__button {
  margin-bottom: -2px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $sapphire;

  background-color: $color-transparent;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  @media (max-width: $tablet-size-max) {
    padding-bottom: 11px;

    font-size: 18px;
  }

  @media (max-width: $mobile-size-max) {
    font-size: 16px;
  }
}

.tabs-nav__item.is-active .tabs-nav__button {
  border-color: $crimson;
  opacity: 1;
}

.tab {
  display: none;
  margin-bottom: 40px;
}

.tab.is-active {
  display: block;
}

.tabs__content-list {
  display: grid;

  gap: 40px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $tablet-size-max) {
    gap: 38px;
    grid-template-columns: none;
  }

  @media (max-width: $mobile-size-max) {
    gap: 37px;
  }
}

.tabs__content-item {
  z-index: 2;

  max-width: 360px;
  padding: 49px 40px 60px;

  text-align: center;

  background-color: $color-default-white;
  border: 7px solid $color-transparent;

  @media (max-width: $tablet-size-max) {
    width: 442px;
    max-width: none;
    height: auto;
    margin: 0 auto;
    padding-top: 51px;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
    padding: 43px 35px 46px;
  }

  &:hover {
    border-image: linear-gradient(to bottom right, $torch-red, $cobalt);
    border-image-slice: 1;
  }
}

.tabs__content-item h3 {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  font-family: $ff-roboto-condensed;
  color: $sapphire;

  @media (max-width: $mobile-size-max) {
    margin-bottom: 8px;

    font-size: 22px;
    line-height: 24px;
  }
}

.tabs__content-item h4 {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $chambray;
}

.tabs__content-item p {
  margin-top: -96px;
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: $egyptian-blue;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 34px;
  }

  @media (max-width: $mobile-size-max) {
    margin-top: -76px;
    margin-bottom: 28px;

    font-size: 48px;
  }
}

.tabs__content-item span {
  font-weight: 700;
  font-size: 100px;
  line-height: 150%;
  font-family: $ff-roboto-condensed;
  color: rgba(232, 232, 232, 0.5);

  @media (max-width: $mobile-size-max) {
    font-size: 80px;
  }
}

.tabs__content-item svg {
  width: 30px;
  height: 42px;

  @media (max-width: $mobile-size-max) {
    width: 24px;
    height: 33px;
  }
}

.tabs__button {
  display: block;
  width: 206px;
  margin: 0 auto;
  padding: 26px 8px 25px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto-condensed;
  color: $sapphire;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $color-default-white;
  border: 2px solid $sapphire;

  @media (max-width: $tablet-size-max) {
    padding-bottom: 23px;
  }
}

.tabs__content-item:hover .tabs__button {
  color: $color-default-white;

  background: linear-gradient(97.05deg, $torch-red 17.6%, $cobalt 95.31%);
  border-color: $color-transparent;
}
