// .video {
//   position: absolute;
//   top: 408px;
//   left: 50%;

//   transform: translate(-143px);

//   @media (max-width: $tablet-size-max) {
//     top: 587px;

//     transform: translate(-133px);
//   }

//   @media (max-width: $mobile-size-max) {
//     position: relative;
//     top: 0;
//     // top: 688px;
//     left: 0;

//     width: 100%;
//     height: 100%;

//     transform: none;
//   }
// }
.video {
  position: absolute;
  top: 288px;
  left: 0;
  z-index: 1;

  display: grid;
  width: 364px;
  height: 228px;
}

@media (max-width: 1199px) {
  .video {
    top: auto;
    bottom: 0;
    left: 50%;

    width: 266px;
    height: 167px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .video {
    position: relative;
    left: auto;

    width: 100%;
    height: auto;
    margin: 0 auto;

    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (max-width: 320px) {
  .video {
    height: 167px;
  }
}

.video__image {
  // z-index: 1;
  // display: block;
  // max-width: 100%;
  // height: auto;
  position: relative;
  z-index: 1;

  grid-column: 1/-1;
  grid-row: 1/-1;

  &::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(20, 54, 122, 0.5);
  }
}

.video__image img {
  // display: block;
  // width: 364px;
  // height: 228px;
  display: block;
  width: 100%;
  max-width: 100%;

  border: 0;

  @media (max-width: $tablet-size-max) {
    width: 266px;
    // height: 167px;
    height: auto;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
    height: 100%;
  }
}

.video__video {
  // display: none;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: #102654;

  grid-column: 1/-1;
  grid-row: 1/-1;
}

.video__video iframe {
  // width: 364px;
  // height: 228px;
  width: 100%;
  height: 100%;

  border: none;

  @media (max-width: $tablet-size-max) {
    width: 266px;
    // height: 167px;
    height: auto;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
    height: 100%;

    background-color: #102654;

    grid-column: 1/-1;
    grid-row: 1/-1;
  }
}

.video__play-button {
  // position: absolute;
  // top: 65px;
  // left: 50%;
  // width: 100px;
  // height: 100px;
  // transform: translate(-50px);
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 100px;
  height: 100px;

  background-image: url(../img/svg/play.svg);
  background-position: center;
  background-size: cover;
  transform: translate(-50%, -50%);

  @media (max-width: $tablet-size-max) {
    // top: 47px;
    width: 73px;
    height: 73px;

    // transform: translate(-37px);
  }

  // @media (max-width: $mobile-size-max) {
  //   top: 50%;
  // }
}

.video.is-play .video__video {

  // display: block;
  // width: 364px;
  // height: 228px;

  @media (max-width: $tablet-size-max) {
    height: auto;
  }

  @media (max-width: 768px) {
    width: 266px;
    height: auto;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
    height: auto;
  }

  @media (max-width: 320px) {
    width: 100%;
    height: 100%;
  }
}

.video.is-play .video__image {
  display: none;
}

.video.is-play .video__play-button {
  display: none;
}
