.video {
  position: absolute;
  top: 408px;
  left: 50%;

  transform: translate(-143px);

  @media (max-width: $tablet-size-max) {
    top: 587px;

    transform: translate(-133px);
  }

  @media (max-width: $mobile-size-max) {
    top: 688px;
    left: 0;

    width: 100%;
    height: 167px;

    transform: none;
  }
}

.video__image {
  z-index: 1;

  display: block;
  max-width: 100%;
  height: auto;

  &::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(20, 54, 122, 0.5);
  }
}

.video__image img {
  display: block;
  width: 364px;
  height: 228px;

  @media (max-width: $tablet-size-max) {
    width: 266px;
    height: 167px;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
  }
}

.video__video {
  display: none;
}

.video__video iframe {
  width: 364px;
  height: 228px;

  @media (max-width: $tablet-size-max) {
    width: 266px;
    height: 167px;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;
  }
}

.video__play-button {
  position: absolute;
  top: 65px;
  left: 50%;

  width: 100px;
  height: 100px;

  transform: translate(-50px);

  @media (max-width: $tablet-size-max) {
    top: 47px;

    width: 73px;
    height: 73px;

    transform: translate(-37px);
  }
}

.video.is-play .video__video {
  display: block;
}

.video.is-play .video__image {
  display: none;
}

.video.is-play .video__play-button {
  display: none;
}
